name: segmentacion-esferoides
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - jupyter
  - notebook
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - pyyaml
  - pip:
    - ultralytics==8.0.215
